.row
  .col-sm
    .numbers.
      #[span.number.num-votes= event.numLikes] likes,
      #[span.number.num-answers= event.numAnswers] 참석,
      #[span.number.num-views= event.numReads] reads
  .col-sm
    .author
      | posted on #{moment(event.createdAt).format('YYYY-MM-DD')}
      if event.author
        | 
        | by #[a(href=`/users/${event.author.id}`)= event.author.name] 
