.header.clearfix
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    .nav-header
      a.navbar-brand(href='/') Eventbrite
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon

    #navbarsExampleDefault.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href="/events") BROWSE EVENT
        if (!currentUser) 
          li.nav-item
            a.nav-link(href='/signin') SIGN IN
          li.nav-item
            a.nav-link(href='/users/new') SIGN UP
        else
          if (currentUser.id) == "5a2add501f2d6d002108a442"
            li.nav-item
              a.nav-link(href="/users") USER
          li.nav-item
            a.nav-link(href=`/users/${currentUser._id}`) My Profile
          li.nav-item
            a.nav-link(href='/signout') SIGN OUT
          li.nav-item
            a.nav-link(href='/events/new') CREATE EVENT
        
          
