.slideshow {
  width: 600px;
  height: 400px;
  position: relative;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

.slideshow img {
  position: absolute;
  opacity: 0;
  transition: all 1s ease;
}

.slideshow img.active {
  opacity: 1.0;
}
